nav.navbar.navbar-fixed-top(ng-controller="headerController")
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
				span.src-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="/").navbar-brand Nope Rope
		div#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.menu-items
				li.highscores(ng-class="getClass('/highscores')")
					a(href="/highscores") HighScores
				li.game(ng-class="getClass('/game')")
					a(href="/game") Game
				li.room(ng-class="getClass('/room')")
					a(href="/rooms") Rooms
			ul.nav.nav-bar.navbar-right
				