nav.navbar.navbar-fixed-top.navbar-inverse
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
				span.src-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="/").navbar-brand App
		div#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.menu-items
				li.page1
					a(href="/page1") Page 1
				li.page2
					a(href="/page2") Page 2
			ul.nav.nav-bar.navbar-right
				