doctype html
html(ng-app="app")
  head
    base(href="/")
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    link(rel='stylesheet', href='/node_modules/angular-loading-bar/build/loading-bar.css')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')

    script(src='/node_modules/socket.io-client/socket.io.js')
    script(src='/node_modules/angular/angular.js')
    script(src='/node_modules/angular-route/angular-route.js')
    script(src='/node_modules/angular-animate/angular-animate.js')
    script(src='/node_modules/angular-loading-bar/build/loading-bar.js')
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/javascripts/vendor/socket.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/vendor/phaser.js')

    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/main.js')
    script(src='/javascripts/services/socket.js')
    script(src='/javascripts/directives/header.js')
    
  body(ng-controller="mainController", data-ng-init="init()")
    //header
    ng-view#content