h1 home

ul
    li
        a(href="/highscores") HighScores
    li
        a(href="/game") Game
    li
        a(href="/rooms") Rooms

div#setName_modal.modal.fade
    div.content
        h2 Set name

        .form-group
            label(for='name') Name:
            input#name.form-control(type='text' ng-model="userName")

        button.btn.btn-success(ng-click="setName()") Set Name