@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,200italic,400italic,700italic);
header nav.navbar {
  height: 64px;
  line-height: 64px;
  color: white;
  margin: 0px;
  border-bottom: 2px solid #FF9F1E;
}

header nav.navbar .navbar-header {
  height: 64px;
}

header nav.navbar .navbar-header .navbar-brand {
  padding: 0px;
  height: 64px;
  line-height: 64px;
  font-size: 200%;
  color: #FF9F1E;
}

header nav.navbar .navbar-header button {
  height: 64px;
  margin: 0;
  padding: 0;
  width: 70px;
  border: 0;
  text-align: center;
}

header nav.navbar .navbar-header button span {
  background-color: white;
}

header nav.navbar #navbar ul {
  margin-left: 15px;
  text-align: center;
}

header nav.navbar #navbar ul li {
  padding-right: 20px;
}

header nav.navbar #navbar ul li a {
  padding: 0px;
  height: 64px;
  line-height: 64px;
  font-size: 200%;
  color: white;
  text-shadow: none;
}

header nav.navbar #navbar ul li a:hover,
header nav.navbar #navbar ul li a:focus {
  background-color: transparent;
  color: #ff00a2;
}

header nav.navbar #navbar ul li.active a {
  color: #ff00a2;
}

header nav.navbar #navbar ul li a:hover {
  background-color: transparent;
}

header nav.navbar #navbar.in {
  background-color: #1f2324;
}

header nav.navbar #navbar.in ul.menu-items ul {
  margin: 0;
  padding: 0;
}

#highscores.page {
  color: white;
}

#highscores.page h1 {
  line-height: 64px;
}

#highscores.page h2 {
  color: #4ea683;
  display: none;
}

#highscores.page nav {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#highscores.page nav li {
  font-size: 200%;
}

#highscores.page nav li a {
  background-color: transparent;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  padding-left: 0;
  height: 64px;
  line-height: 64px;
  padding: 0;
  margin-right: 25px;
}

#highscores.page nav li.active a {
  border-bottom: 2px solid #FF9F1E;
  color: #ff00a2;
}

#game.page {
  color: white;
}

#game.page #gamecanvas {
  border: 2px solid #FF9F1E;
  background-color: #1f2324;
}

#game.page #info button {
  width: 100%;
  height: 64px;
  font-size: 200%;
}

#game.page #info ul {
  list-style: none;
  padding: 0;
  padding-top: 24px;
  font-size: 125%;
}

#game.page #info ul li span.pull-right {
  color: #4ea683;
}

#game.page #info h2 {
  padding-top: 25px;
  border-bottom: 2px solid #FF9F1E;
}

#rooms {
  color: white;
}

#rooms h1 {
  line-height: 64px;
}

html, body {
  height: 100%;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  background-color: #1f2324;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  text-transform: uppercase;
  font-family: geosanslight-nmsregular;
}

body #content {
  display: block;
  padding-top: 64px;
}

body #content .page {
  padding-top: 64px;
}

body .modal-dialog {
  color: #333;
}

body button,
body button.btn-success,
body button.btn-default {
  text-transform: uppercase;
  background-image: none;
  background-color: #4ea683;
  border-radius: 0;
  border: 1px solid #469575;
  text-shadow: none;
  color: white;
}

body input.form-control {
  border-radius: 0;
}

body table thead {
  color: #4ea683;
  font-size: 125%;
  font-weight: bold;
}

body table tbody tr td {
  border-top: 1px solid #777;
  font-size: 125%;
}

h1, h2, h3, h4, h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: geosanslight-nmsregular;
  text-transform: uppercase;
}

h1 {
  color: #ff00a2;
}

@font-face {
  font-family: 'geosanslight-nmsregular';
  src: url("/fonts/geonms-webfont.eot");
  src: url("/fonts/geonms-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/geonms-webfont.woff") format("woff"), url("/fonts/geonms-webfont.ttf") format("truetype"), url("/fonts/geonms-webfont.svg#geosanslight-nmsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.background {
  background-color: #1f2324;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.grid {
  background-image: url("/images/grid.png");
  background-position: left top;
  background-size: initial;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.grid.points {
  background-image: url("/images/grid_point.png");
}

.splash {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1050;
  background-color: #1f2324;
}

.splash .title {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  color: white;
}

.splash .subtitle {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  color: white;
}

.splash .loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  top: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

.splash.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */