@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,200italic,400italic,700italic);

html, body {
	height: 100%;
	overflow: hidden;
}

*, :after, :before {
	box-sizing: border-box;
}

body {

	margin-top: 50px;
	margin-left: 50px;
	background-color: #1f2324;
	text-transform: uppercase;
	font-family: geosanslight-nmsregular;

	#game {

		float: left;

		canvas {
			border: 5px solid gray;
		}

		h1#event {
			color: white;
			text-align: center;
			padding-top: 25px;
			position: absolute;
			width: 800px;
		}
	}

	#info {
		float: left;
		width: 300px;
		height: 600px;
		color: white;
		border-top: 5px solid gray;
		border-right: 5px solid gray;
		border-bottom: 5px solid gray;

		button {
			background-color: #FF9F1E;
			width: 295px;
			height: 75px;
			text-transform: uppercase;
			font-size: 32px;
			font-weight: bold;
			border: none;
			padding: 0;
			border-bottom: 5px solid gray;
		}

		ul#players {
			padding: 20px;
			list-style: none;

			h2 {
				color: #ff00a2;
			}

			li {
				font-size: 20px;
			}
		}
	}
  	#highscore_modal
  	{
		width: 50%;
		margin: 10% auto;
		height: auto;
		background-color: white;
		border-radius: 1%;
		box-shadow: 0 0 17px #FF9F1E;

        .content {
            margin: 5%;
	    }
  	}
}

h1, h2, h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: geosanslight-nmsregular;
	text-transform: uppercase;
}

@font-face {
	font-family: 'geosanslight-nmsregular';
	src: url('/fonts/geonms-webfont.eot');
	src: url('/fonts/geonms-webfont.eot?#iefix') format('embedded-opentype'),
			url('/fonts/geonms-webfont.woff') format('woff'),
			url('/fonts/geonms-webfont.ttf') format('truetype'),
			url('/fonts/geonms-webfont.svg#geosanslight-nmsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}