h1 HighScores
    h2(ng-bind="timespan")

nav.navbar.navbar-default
    .container-fluid
        ul.nav.navbar-nav
            li(ng-class="{active:isActive('today')}")
                a(href="/highscores/today") Today
            li(ng-class="{active:isActive('week')}")
                a(href="/highscores/week") This week
            li(ng-class="{active:isActive('month')}")
                a(href="/highscores/month") This month
            li(ng-class="{active:isActive('all')}")
                a(href="/highscores/all") All

table.table
    thead
        td Player
        td Total Points
        td Total Games

    tr(ng-repeat="score in scores")
        td(ng-bind="score.playerName")
        td(ng-bind="score.score.totalPoints")
        td(ng-bind="score.score.totalGames")

ul.pagination
    li(ng-repeat="page in pages" ng-class="{'active':page.active}")
        a(ng-href="{{'highscores/'+ timespan+ '/'+ page.number}}" ng-bind="page.number")